# Core Data Processing
pandas
numpy
tqdm

# Document Processing
PyMuPDF
pdf2image

# OCR / Vision-Language Models
paddleocr[doc-parser]
paddlex
opencv-python-headless
doclayout_yolo

# Others
requests
